{% extends 'blog/main-template.html' %}


{% block title %}
    {{article.title}}
{% endblock title %}


{% block main_body %}
    {% if article %}

    {% if request.user == article.author %}
    <a href="{% url 'article_update' article.slug %}">Edit</a>

    {% endif %}

    {% if article.img %}
    <img src="{{article.img.url}}" alt="Image of {{article.title}} article">
    {% endif %}
    <h3>
        {{article.title}}
    </h3>
    <span>
        <b>{{article.created}}</b>
        <b>{{article.author}}</b>
        
    </span>

    <div class="content">
        {{article.body|safe}}
    </div>

    {% endif %}
{% endblock main_body %}
    