{% extends 'blog/main-template.html' %}



{% block head %}
<style>
    .paginate ul {
        display: flex;
        list-style-type: none;
    }
    .paginate ul li {
        padding-left: 1rem;
    }
</style>    
{% endblock head %}
    

{% block title %}
    Blog Home
{% endblock title %}

{% block main_body %}
    <ul>
        {% for article in articles %}

        <li>
            <div>
                <a href="{{article.get_absolute_url}}">{{article.title}}</a>
                <span>
                    {{article.created}}
                </span>
            </div>
        </li>
        {% endfor %}
    </ul>

    <h4>Categories</h4>
    {% for category in categories %}

    <h3>
        <a href="{{category.get_absolute_url}}">{{category.name}}</a>
    </h3>

    {% endfor %}

    <div class="paginate">
        <div>
                
            <ul>
                {% if articles.has_previous %}
                    <li><a href="?page={{articles.previous_page_number}}">Geri</a></li>
                {% else %}
                    <li><a class="disabled" href="">Geri</a></li>
                {% endif %}
                
                {% for i in articles.paginator.page_range %}
                    
                    {% if articles.number == i %}
                        <li><a class="disabled" href="">{{i}}</a></li>
                    {% else %}
                        <li><a href="?page={{i}}">{{i}}</a></li>
                    {% endif %}
                        
                {% endfor %}
                    
                {% if articles.has_next %}
                    <li><a href="?page={{articles.next_page_number}}">İleri</a></li>
                {% endif %}
            </ul>
                    
        </div>
    </div>
        
{% endblock main_body %}
