{% extends 'blog/main-template.html' %}


{% block title %}
    Blog Home
{% endblock title %}

{% block main_body %}
    <ul>
        {% for article in articles %}

        <li>
            <div>
                <a href="{{article.get_absolute_url}}">{{article.title}}</a>
                <span>
                    {{article.created}}
                </span>
            </div>
        </li>
        {% endfor %}
    </ul>

    <h4>Categories</h4>
    {% for category in categories %}

    <h3>
        <a href="{{category.get_absolute_url}}">{{category.name}}</a>
    </h3>

    {% endfor %}
        
{% endblock main_body %}
